body,p,ul,li,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,textarea,figure,a{
  margin:0;
  padding:0;
}
html,body{
  height: 100%;
}
html{
  font-size: 24.2vw;
}
body{
  font-family:"微软雅黑",Arial;
  display: flex;
  flex-direction: column;
}
a{
  text-decoration:none;
}
li{
  list-style:none;
}
img{
  border:none;

}
header{
  height: .56rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h2{
  font-size: .17rem;

}
header span{
  width: 15%;
  text-align: center;
  display: block;

}
header span a{
  font-size: .14rem;
  color: black;
  display: block;

}
header span img{
  margin: 0 auto;
  width: .24rem;
  height: .24rem;
  display: block;
}
section{
  padding: .2rem;
  text-align: center;

}
section input{
  border: none;
  outline: none;
  width: 90%;
  height: .5rem;
  font-size: .14rem;
  color: #e1e1e1;
}
section span{
  font-size: .14rem;
  width: 50%;
  color: black;
}
section .put1{
  margin: 0 auto;
  border-bottom: 1px solid #e1e1e1;
  display: block;
}
section .put2{
  width: 60%;
}
.line{
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #e1e1e1;
}
section .put3{
  color: white;
  border-radius: .22rem;
  vertical-align: middle;
}
.fastbtn{
  text-align: center;
  width: 100%;
  font-size: .14rem;
}
.otherbtn{
  text-align: center;
  display: flex;
  padding: .2rem;
}
.otherbtn span{

  width: 33%;
  font-size: .14rem;
  color: #999;
  display: block;
  margin: auto 0;
}
.otherbtn span:first-child,.otherbtn span:last-child{
  height: 1px;
  background: #eee;
}
footer{
  padding: .2rem;
  display: flex;
  justify-content: center;
}
footer a{
  font-size:.11rem ;
  color: #595959;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
footer img{
  display: block;
  margin-bottom:.1rem ;
  text-align: center;
  width: .29rem;
  height: .29rem;
}
